# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: Continuous Integration Tests

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: '30 15 * * *'

jobs:
  preset-test:
    uses: bemanproject/infra-workflows/.github/workflows/reusable-beman-preset-test.yml@1.2.1
    with:
      matrix_config: >
        [
          {"preset": "gcc-debug", "image": "ghcr.io/bemanproject/infra-containers-gcc:latest"},
          {"preset": "gcc-release", "image": "ghcr.io/bemanproject/infra-containers-gcc:latest"},
        ]

  test:
    uses: bemanproject/infra-workflows/.github/workflows/reusable-beman-build-and-test.yml@1.2.1
    with:
      matrix_config: >
        {
          "gcc": [
            { "versions": ["14"],
              "tests": [
                { "cxxversions": ["c++23", "c++20"],
                  "tests": [
                    { "stdlibs": ["libstdc++"],
                      "tests": [
                        "Release.Default",
                        "Release.TSan", "Release.ASan",
                        "Release.-DBEMAN_INPLACE_VECTOR_NO_EXCEPTIONS=ON"
                      ]
                    }
                  ]
                },
                { "cxxversions": ["c++20"],
                  "tests": [
                    { "stdlibs": ["libstdc++"],
                      "tests": [
                        "Release.-DBUILD_SHARED_LIBS=ON"
                      ]
                    }
                  ]
                }
              ]
            }
          ],
          "clang": [
            { "versions": ["20"],
              "tests": [
                { "cxxversions": ["c++23", "c++20"],
                  "tests": [
                    { "stdlibs": ["libstdc++"],
                      "tests": [
                        "Release.Default",
                        "Release.TSan", "Release.ASan",
                        "Release.-DBEMAN_INPLACE_VECTOR_NO_EXCEPTIONS=ON"
                      ]
                    }
                  ]
                }
              ]
            }
          ]
        }

  compiler-test:
    uses: bemanproject/infra-workflows/.github/workflows/reusable-beman-build-and-test.yml@1.2.1
    with:
      matrix_config: >
        {
          "gcc": [
            { "versions": ["14", "13", "12"],
              "tests": [
                { "cxxversions": ["c++20"],
                  "tests": [{ "stdlibs": ["libstdc++"], "tests": ["Debug.Default"]}]
                }
              ]
            }
          ],
          "clang": [
            { "versions": ["20", "19", "18", "17"],
              "tests": [
                { "cxxversions": ["c++20"],
                  "tests": [{ "stdlibs": ["libstdc++"], "tests": ["Debug.Default"]}]
                }
              ]
            }
          ]
        }

  create-issue-when-fault:
    needs: [preset-test, test, compiler-test]
    if: failure() && github.event_name == 'schedule'
    uses: bemanproject/infra-workflows/.github/workflows/reusable-beman-create-issue-when-fault.yml@1.2.1
