# SPDX-License-Identifier: Apache-2.0 WITH LLVM-exception

name: Continuous Integration Tests

on:
  push:
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
  schedule:
    - cron: '30 15 * * *'

jobs:
  preset-test:
    strategy:
      fail-fast: false
      matrix:
        presets:
          - preset: "gcc-debug"
            platform: "ubuntu-latest"
          - preset: "gcc-release"
            platform: "ubuntu-latest"
    name: "Preset: ${{ matrix.presets.preset }} on ${{ matrix.presets.platform }}"
    runs-on: ${{ matrix.presets.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup build environment
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.25.0"
          ninjaVersion: "^1.11.1"
      - name: Setup MSVC
        if: startsWith(matrix.presets.platform, 'windows')
        uses: TheMrMilchmann/setup-msvc-dev@v3
        with:
          arch: x64
      - name: Run preset
        run: cmake --workflow --preset ${{ matrix.presets.preset }}

  test:
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-24.04]
        compiler:
          - cpp: g++
            c: gcc
          - cpp: clang++
            c: clang
        cpp_version: [20, 23]
        cmake_args:
          - description: "Default"
            args: ""
          - description: "TSan"
            args: "-DCMAKE_CXX_FLAGS=-fsanitize=thread"
          - description: "ASan"
            args: "-DCMAKE_CXX_FLAGS='-fsanitize=address -fsanitize=undefined'"
        include:
          - platform: ubuntu-24.04
            compiler:
              cpp: g++
              c: gcc
            cpp_version: 20
            cmake_args:
              description: "Dynamic"
              cmake_args: "-DBUILD_SHARED_LIBS=on"

    name: "Build & Test: ${{ matrix.compiler.c }} ${{ matrix.cpp_version }} ${{ matrix.cmake_args.description }}"
    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@v4
      - name: Install Ninja
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: "~3.25.0"
          ninjaVersion: "^1.11.1"
      - name: Install latest compiler
        run: |
          if [ "${{ matrix.compiler.cpp}}" == "g++" ]; then
            # Install gcc-14
            sudo apt-get update
            sudo apt-get install -y gcc-14 g++-14

            sudo rm /usr/bin/gcc
            sudo ln -s /usr/bin/gcc-14 /usr/bin/gcc

            sudo rm /usr/bin/g++
            sudo ln -s /usr/bin/g++-14 /usr/bin/g++
          else
            # Install llvm
            sudo bash -c "$(wget -O - https://apt.llvm.org/llvm.sh)"
          fi
      - name: Print installed software
        run: |
          clang++ --version
          g++ --version
          cmake --version
          ninja --version
      - name: Configure CMake
        run: |
          cmake -B build -S . -DCMAKE_CXX_STANDARD=${{ matrix.cpp_version }} ${{ matrix.cmake_args.args }}
        env:
          CC: ${{ matrix.compiler.c }}
          CXX: ${{ matrix.compiler.cpp }}
          CMAKE_GENERATOR: "Ninja Multi-Config"
      - name: Build Release
        run: |
          cmake --build build --config Release --verbose
          # TODO: cmake --build build --config Release --target all_verify_interface_header_sets
          cmake --install build --config Release --prefix /tmp/beman.inplace_vector
          find /tmp/beman.inplace_vector -type f
      - name: Test Release
        run: ctest --test-dir build --build-config Release
      - name: Build Debug
        run: |
          cmake --build build --config Debug --verbose
          # TODO: cmake --build build --config Debug --target all_verify_interface_header_sets
          cmake --install build --config Debug --prefix /tmp/beman.inplace_vector
          find /tmp/beman.inplace_vector -type f
      - name: Test Debug
        run: ctest --test-dir build --build-config Debug

  compiler-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compilers:
          - class: gnu
            version: 14
          - class: gnu
            version: 13
          - class: gnu
            version: 12
          - class: llvm
            version: 20
          - class: llvm
            version: 19
          - class: llvm
            version: 18
          - class: llvm
            version: 17
    container:
      image: ghcr.io/wusatosi/cpp-docker:${{ matrix.compilers.class }}-${{ matrix.compilers.version }}
    name: "Compiler: ${{ matrix.compilers.class }} ${{ matrix.compilers.version }}"
    steps:
      - uses: actions/checkout@v4
      - name: Install Compiler
        id: install-compiler
        run: |
          if [ "${{ matrix.compilers.class }}" = "gnu" ]; then
            CC=gcc-${{ matrix.compilers.version }}
            CXX=g++-${{ matrix.compilers.version }}
          else
            CC=clang-${{ matrix.compilers.version }}
            CXX=clang++-${{ matrix.compilers.version }}
          fi

          echo "CC=$CC" >> "$GITHUB_OUTPUT"
          echo "CXX=$CXX" >> "$GITHUB_OUTPUT"
      - name: Configure CMake
        run: |
          cmake -B build -S . -DCMAKE_CXX_STANDARD=20
        env:
          CC: ${{ steps.install-compiler.outputs.CC }}
          CXX: ${{ steps.install-compiler.outputs.CXX }}
          CMAKE_GENERATOR: "Ninja Multi-Config"
      - name: Build Debug
        run: |
          cmake --build build --config Debug --verbose
          # cmake --build build --config Debug --target all_verify_interface_header_sets
          cmake --install build --config Debug --prefix /opt/beman.exemplar
          find /opt/beman.exemplar -type f
      - name: Test Debug
        run: ctest --test-dir build --build-config Debug

  create-issue-when-fault:
    runs-on: ubuntu-latest
    needs: [test]
    if: failure() && github.event_name == 'schedule'
    steps:
      # See https://github.com/cli/cli/issues/5075
      - uses: actions/checkout@v4
      - name: Create issue
        run: |
          issue_num=$(gh issue list -s open -S "[SCHEDULED-BUILD] Build & Test failure" -L 1 --json number | jq 'if length == 0 then -1 else .[0].number end')

          body="**Build-and-Test Failure Report**
          - **Time of Failure**: $(date -u '+%B %d, %Y, %H:%M %Z')
          - **Commit**: [${{ github.sha }}](${{ github.server_url }}/${{ github.repository }}/commit/${{ github.sha }})
          - **Action Run**: [View logs](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }})

          The scheduled build-and-test triggered by cron has failed.
          Please investigate the logs and recent changes associated with this commit or rerun the workflow if you believe this is an error."

          if [[ $issue_num -eq -1 ]]; then
            gh issue create --repo ${{ github.repository }} --title "[SCHEDULED-BUILD] Build & Test failure" --body "$body"
          else
            gh issue comment --repo ${{ github.repository }} $issue_num --body "$body"
          fi
        env:
          GH_TOKEN: ${{ github.token }}
